{% block content %}

<section > 
    <div class="main_box_1">
        <div class="box_1">
            <span>
                <div class="header_font">
                    <h1>
                        What We Do ?
                    </h1>        
                </div>

            <div class="what-we-do" >
                <div>
                    <h2>
                    Cyber Solutions

                    </h2>
                    <p>
                        ...<br>
                        ...<br>
                        ...<br>
                        ...<br>
                    </p>
                </div>
                <div>
                    <h2>
                    Ground Up Training
                    </h2>
                    <p>
                        ...<br>
                        ...<br>
                        ...<br>
                        ...<br>
                    </p>

                </div>
                <div>
                    <h2>
                        Embedded Systems
                    </h2>
                    <p>
                        ...<br>
                        ...<br>
                        ...<br>
                        ...<br>
                    </p>
                </div>
                

            </div>

        </span>   

        </div>
    
    </div>

</section>


{% endblock %}