body { 
    width: 100%;
    height: 100%; 
    padding: 0 0;
    margin: 0 0;
}

.seg_box_0 {
    width: 100%;
    height: 100vh; 
    padding: 0 0;
    margin: 0 0;
    /*** size ***/ 
    --sz: 7px; 
    /*** Colors ***/ 
    --c0: #020202; 
    --c1: #171b1f; 
    --c2: #333333; 
    --c3: #00ff0095; 
    --ts: 50%/ calc(var(--sz) * 16.8) calc(var(--sz) * 22); 
    /*** structure ***/ 
    background: /*bottom*/ 
        conic-gradient(
            from 120deg at 50% 86.5%, 
            var(--c1) 0 120deg, 
            #fff0 0 360deg
            )
        var(--ts), 
        conic-gradient(
            from 120deg at 50% 86.5%, 
            var(--c1) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        /*bottom dark*/ 
        conic-gradient(
            from 120deg at 50% 74%,
            var(--c0) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts),
        /*right*/ 
        conic-gradient(
            from 60deg at 60% 50%, 
            var(--c1) 0 60deg, 
            var(--c2) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        /*left*/ 
        conic-gradient(
            from 180deg at 40% 50%, 
            var(--c3) 0 60deg, 
            var(--c1) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        /*top dark*/ 
        conic-gradient(
            from 0deg at 90% 35%, 
            var(--c0) 0 90deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        conic-gradient(
            from -90deg at 10% 35%, 
            var(--c0) 0 90deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        conic-gradient(
            from 0deg at 90% 35%, 
            var(--c0) 0 90deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        conic-gradient(
            from -90deg at 10% 35%, 
            var(--c0) 0 90deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        /*top*/ 
        conic-gradient(
            from -60deg at 50% 13.5%, 
            var(--c1) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        conic-gradient(
            from -60deg at 50% 13.5%, 
            var(--c1) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        conic-gradient(
            from -60deg at 50% 41%, 
            var(--c2) 0 60deg, 
            var(--c3) 0 120deg, 
            #fff0 0 360deg
            ) 
        var(--ts), 
        var(--c0) ; 
}

.seg_box_1 {
    background-color: #020202;    
}

section {
    height: 100vh;
    width: 100%;
}

h1, h2 {
    color: rgb(0, 255, 0);
    text-align: center;
}


.header_font {
    background-color: #b6b6b613;
    border-radius: 25px;
    height: fit-content;
}


.header_font h1 {
    color: rgb(255, 255, 255);
}

.main_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.da-head { 
    margin-top: -15px; 
    margin-left: -40%; 
    margin-right: -10%; 
    width: 100wv; 
    height: fit-content; 
    padding-left: 20%; 
    padding-right: 15%; 
    padding-top: 1px; 
    padding-bottom: 10px; 
    border-radius: 20px; 
    background-color: #111111F5; 
    color: white; box-shadow: 10px 8px 10px 5px #00ff00; 
} 

.midspan { 
    width: 75%; 
    height: 40vh; 
    border-radius: 20px; 
    background-color: #111111F7; 
    color: white; 
    box-shadow: 10px 8px 10px 5px #00ff00; 
} 


.code_it { 
    font-size: small; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 15px; 
    width: 80vw; 
    right: 5vw; 
    height: fit-content; 
    padding: 5px 80vw; 
    background-color: black; 
    color: white; border-radius: 20px; 
} 

.segment { 
    display: box; 
    width: 80vw; 
    right: 5vw; 
    height: fit-content; 
    padding: 5px 80vw; 
    background-color: black; 
    color: #00ff00F2; 
    border-radius: 5px; 
    padding-left: 2px; 
    padding-top: 0; 
    padding-bottom: 1px; 
    font-size: small; 
} 


.tb_sh_0 { 
    width: 70vw; 
    height: 40vh;
    background: linear-gradient(-45deg, #9834eb, #e73c7e, #23a6d5, #23d5ab); 
    border-radius: 15px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
} 

.tb_box { 
    margin-left: 1%; 
    margin-right: 1%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    width: 98%; 
    height: 90%;
    height: calc(fit-content + 5px); 
    background-color: black; 
    border-radius: 14px; 
    display: flex; 
    justify-content: center;
    align-items: center;
} 


.tb_sh_1 { 
    margin-left: -21px; 
    width: 80vw; 
    background: linear-gradient(-45deg, #9834eb, #e73c7e, #23a6d5, #23d5ab); 
    border-radius: 10px; 
    padding-top: 1px; 
    padding-bottom: 1px; 
} 


.snippet{ 
    padding-left: 0%; 
    margin-right: 2px; 
    margin-left: 1px; 
    padding-top: 1px; 
    margin-top: 1px; 
    width: 100%; 
    height: fit-content; 
    background-color: black; 
    border-radius: 12px; 
} 


.snippet img { 
    border-radius: 12px; 
} 

li { 
    margin-left: -15px; 
    font-size: small; 
    list-style-type: none; 
    color: #00ff00; 

} 


.tb_sh_2 { 
    margin-left: -21px; 
    width: 80vw; 
    background: linear-gradient(-45deg, #9834eb, #e73c7e, #23a6d5, #23d5ab); 
    border-radius: 10px; 
    padding-top: 1px; 
    padding-bottom: 1px; 
}











.main_box_0 {
    padding-top: 50px;
    margin-top: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;

}




.main_box_1 {
    padding-top: 0px;
    padding-bottom: 50px;
    height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}




.order_now div input{
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: #A1A1A1;

	width: 100%;
	height: 50%;
	padding: 10px 0 ;
	box-shadow: 2px 2px #90F010,
		   -2px -2px  #90F010,
		   -2px 2px #90F010,
		   2px -2px #90F010;
	
	font-weight: bolder;
	cursor: pointer;

}

.order_now h4{
	margin: 10px 5px;
}

.box {
	position: relative;
	background-color: #FFFFFF01;

	width: 70vw;
	left: 0;
	height: 50vh;
	border-radius: 20px;
	display: grid;
	align-items: center;

	place-items: center;
	overflow: hidden;
	
}

.box::before{
	content: '';
	position: relative;
	width: 500%;
	height: 520%;
	top: 100%;
	left: 0%;
	
	background-image: conic-gradient(transparent, transparent,transparent, #90F010FF);
	animation: rotate 4s linear infinite;
}

.box::after{
	content: '';
	position: relative;
	width: 500%;
	height: 520%;
	top: -100%;
	left: 0%;
	background-image: conic-gradient(transparent, transparent,transparent, #20F0A0FF);
	animation: rotate 4s linear infinite;
	animation-delay: -2s;
}

.box:hover span{
	background-color: #222222;
	transition: ease-in-out 2.5s;
}

.box span {
	
	position: absolute;
	inset: 5px;
	border-radius: 16px;
	background-color: #303030;
	z-index: 2;
	display: grid;
	justify-content: center;
	align-items: center;
}




span h1 {
	font-size: 3rem;
}

.spanner {
	display: flex;
	width: fit-content;
	background-color: transparent;
	gap: 10px;
	justify-content: space-between;
}

#ball_a {
    width: 50px;
    height: 55px;
    background-color: #A1A1A1;
    border-radius: 50%;
    position: relative;
}

#ball_a:hover{
    box-shadow: 0 0 10px #FFFFFF90;

    background-color: lime;
}


@keyframes rotate {
	0% {
	transform: rotat(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}

.inner {
	letter-spacing: 0.2rem;
	font-size: 3em;
	font-weight: bolder;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.inner > div {
	animation: bounce 1.1s ease-in-out alternate infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes bounce{
	to{
	transform: translateY(2rem);
	}
}







.order_up {
	
	justify-content: center;
	align-items: center;
}

.enter_ {
	width: 100%;
	height: 150%;
	border-radius: 0.65rem;
	
}




/* What We Do */




.what-we-do {
    width: 60vw;
    height: 100%;
    background-color: #23a5d500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.what-we-do div{
    width: 30% ;
    padding-top: 50px;
    height: 35vh;
    background-color: #23d5ab;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.what-we-do div h2{
    margin-top: -30px;
}


.box_1 {
	position: relative;
	background-color: #FFFFFF01;

	width: 70vw;
	left: 0;
	height: 80vh;
	border-radius: 20px;
	display: grid;
	align-items: center;

	place-items: center;
	overflow: hidden;
	
}

.box_1::before{
	content: '';
	position: relative;
	width: 500%;
	height: 520%;
	top: 100%;
	left: 0%;
	
	background-image: conic-gradient(transparent, transparent,transparent, #90F010FF);
	animation: rotate 4s linear infinite;
}

.box_1::after{
	content: '';
	position: relative;
	width: 500%;
	height: 520%;
	top: -100%;
	left: 0%;
	background-image: conic-gradient(transparent, transparent,transparent, #20F0A0FF);
	animation: rotate 4s linear infinite;
	animation-delay: -2s;
}

.box_1:hover span{
	background-color: #222222;
	transition: ease-in-out 2.5s;
}

.box_1 span {
	
	position: absolute;
	inset: 5px;
	border-radius: 16px;
	background-color: #303030;
	z-index: 2;
	display: grid;
	justify-content: center;
	align-items: center;
}




@media
only screen and (max-device-width: 480px), 
only screen and (min-device-width: 320),
only screen and (min-device-pixel-ratio : 1.5){    

    .what-we-do {
        width: 90vw;
        height: 25%;
        background-color: #23a5d500;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
    }


}
