<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css"/>
    <title>NixLyn Home</title>
</head>
<body>


    {% block content %}
    {% include 'nav_bar.html' %}
    {% include 'main_sec.html' %}
    {% include 'what_we_do.html' %}
    {% include 'who_we.html' %}
    {% include 'contact_us.html' %}
    {% include 'footer_.html' %}
    {% endblock %}

</body>
</html>