{% block content %}

<link rel="stylesheet" href="/static/css/nav_bar.css"/>

<!-- NAV_BAR -->
<nav class="navbar navbar-fixed-top" id="nav_bar">
    <div class="login">
        <h1 class='nav_tag'>NixLyn Org</h1>
    </div>
    <div class="nav-menu">
    <!-- ADD LINKS -->
    <ul class="how_so" >
        <li class="nav-item">
            <a href="#wwd" class="nav-link">Services & Products</a>
        </li>
        <li class="nav-item">
            <a href="#waw" class="nav-link">Our Teams </a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-link">Contact Us</a>
        </li>
    </ul>
</div>
    <!-- MAKES BURGER -->
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
<!-- NAV_BAR -->

<script src="static/js/nav.js"></script>

{% endblock %}