{% block content %}

<link rel="stylesheet" href="/static/css/what_we_do.css"/>


<section class="wwd_box" id="wwd"> 
    <div class="main_box_1">
        <div class="box_w">
        <span>
            <div class="header_font_0">
                <h1>
                    What We Do ?
                </h1>        
            </div>

            <div class="what-we-do" >
                <div class="wwd-card">
                    <h2>
                        Cutting Edge Encryption
                    </h2>
                    <p>
                        A good cyber dev will know: <u>"If it's online, it's already hacked..".</u>  <br>
                        That's where <a href="https://Crygma.com"> Crygma Business Encryption </a>
                        saves the day-ta with their multi-layer Encryption System, using quantum computation as a foundation, to ensure they stay ahead of the game.
                        <br>
                    </p>
                </div>
                <div class="wwd-card">
                    <h2>
                        Red & Blue Teaming 
                    </h2>
                    <p>
                        The only way to know if a boat floats, is to put it in the water.. <br>
                        So NixLyn has teamed up with <a href="https://Cyberfixltd.com"> CyberFix</a>.<br>
                        Being able to boast on their successful track record on multiple platforms such as bugcrowd and hackerone
                        their team of experts, they will find any vulnerablity in your business' software or hardware. 
                    </p>

                </div>
                <div class="wwd-card">
                    <h2>
                        Embedded Systems
                    </h2>
                    <p>
                        Not all problems can be solved with software..
                        Sometimes the solution requires more engineering.  <b>
                        That's where <a href="https://nuvetech.org"> NuveTech </a> has been taking the world by storm. 

                    </p>
                </div>
                <div class="wwd-card">
                    <h2>
                        The Crucible
                    </h2>
                    <p>
                        Think you got what it takes to make the jump from 'developing' to 'deploying'.. <br>
                        <br>
                        The latest of NixLyn's tactics to combating the gap between student and employment. 
                        We glad to announce the first battle of bytes! Where we set up an assignment designed
                        as a pre-built production level project, where participants must follow the strict rules,
                        document their steps and push to github branches to be reviewed. Each round's winner is based on
                        the first one to push a correctly documented 100% working code.
                    </p>
                </div>
                

            </div>
        </span>   

        </div>
    
    </div>

</section>


{% endblock %}